@model OnlineForum.Models.Board

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The best Online Forum</h1>
</div>

<div>
    <ul>
        @foreach (var board in ViewBag.Boards)
        {
            <li>@Html.ActionLink((string) board.Name, "Board", "Home", new {boardId = board.Id})</li>
        }
    </ul>
</div>

<div class="container">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-4 form-group">
                @Html.LabelFor(b => b.Name, new {@class = "control-label"})
                @Html.TextBoxFor(b => b.Name, new {@class = "form-control"})
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Create Board</button>
    }
</div>