@model OnlineForum.Models.Board

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello, C# World!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(b => b.Name, new { @class = "control-label" })
            @Html.TextBoxFor(b => b.Name, new { @class = "form-control"})
        </div>

        <button class="btn btn-primary" type="submit">Create Board</button>
    }
</div>

<div>
    <ul>
        @foreach (var board in ViewBag.Boards)
        {
            <li>@board.Name</li>
        }
    </ul>
</div>
