
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="text-center">
        <h1 class="display-4 mb-4">@ViewBag.User.UserName</h1>
        <h4>@ViewBag.User.UserName's signature: @ViewBag.User.Signature</h4>
    </div>
</div>